/* 변수 */
:root {
  --margin-left-side: 20.5vw;
  --margin-right-side: 10vw;
}

/* 메인 홈 */
.main_home {
  margin: 10vh 10vw;
  color: white;
  text-align: left;
}

.main_home h1 {
  margin: 5vh 0;
}

.main_home .con_card {
  display: flex;
  width: 100%;
}

.main_home .con_card .card {
  margin-right: 5vw;
}

/* 메인 글 페이지 크기 */
.main_con {
  text-align: left;
  margin: 10vh var(--margin-right-side) 10vh var(--margin-left-side);
  color: white;
  min-height: 100vh;
}

.card {
  width: 20rem;
  height: 30rem;
}

.card .card-img-top {
  height: 20rem;
  width: 17rem;
  display: block;
  margin: auto;
}
.card .card-body {
  align-items: end;
}

/* 제목 */
h1 {
  margin-left: 2vw;
  font-style: italic;
  font-weight: 600;
}

/* 위에 작성되는 참조 */
.top_ref {
  color: rgb(249, 176, 176);
  font-weight: 700;
  font-style: italic;
  position: absolute; /* 절대 위치 지정 */
  right: var(--margin-right-side);
}

/* 콘텐츠 */
.contents {
  font-size: 20px;
  line-height: 2.5;
}

.contents h2 {
  margin: 1em 0vw 0.7em 0.8em;
  font-weight: 700;
  font-style: italic;
}

.contents strong {
  font-size: 22px;
  font-style: italic;
}

.contents .red_strong {
  color: rgb(255, 112, 112);
  font-style: italic;
  font-size: 24px;
}

.contents .blue_strong {
  color: rgb(183, 191, 255);
  font-style: italic;
  font-size: 24px;
}

.contents .center_strong_div {
  text-align: center;
}
